@import "./base/fonts";

a {
  color: #cd2993;
  text-transform: uppercase;
  font-weight: 600;
}

div {
  color: blue;
  transition: color 300ms ease-in-out;
}

div:hover {
  color: aqua;
}

* {
  font-family: "Noto Sans KR", sans-serif;
}
